{% extends "app/layout.html" %}

{% block content %}

<body>
    <h1>Контактная информация</h1>
    <p>Если у вас есть вопросы или предложения, пожалуйста, свяжитесь с нами.</p>
    <address>
        <strong>Адрес:</strong><br>
        Ижорского батальона, д.43<br>
        Город Псков
    </address>
    <address>
        <strong>Телефон:</strong><br>
        +7 (123) 456-78-90
    </address>
    <address>
        <strong>Электронная почта:</strong><br>
        <a href="mailto:derazliv@gmail.com">derazliv@gmail.com</a>
    </address>
    <address>
        <strong>Часы работы:</strong><br>
        Пн-Пт: 9:00 до 18:00<br>
        Сб-Вс: выходной
    </address>
</body>

{% endblock %}
